@charset "UTF-8";

@media screen and (max-width: 1470px) {
    .status {
        display: none;
    }

    .habilidade-content {
        margin-left: 50px;
        margin-right: 50px;
    }

    .text-projeto {
        margin-left: 50px;
    }
    .projetos-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .sobre-content {
        margin-left: 50px;
        margin-right: 50px;
    }

    .experiencia-content {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 1320px) {
    
    .navbar {
        justify-content: space-between;
    }
    .content-esquerda {
        margin: 0;
    } 

    .content-direita {
        margin: 0;
    }

    .image-container {
        display: none;
    }

    .habilidades {
        height: 420px;
    }

    .habilidade-content {
        justify-content: center;
    }

    .habilidade-conteudo {
        align-items: center;
    }

    .text > p {
        text-align: center;
    }

    .projetos-recentes {
        padding: 0;
    }

}

@media screen and (max-width: 1255px) {
    .cta {
       max-width: 85%;
    }

    .hero-right {
        text-align: center;
        padding-right: 0px;
    }
}

@media screen and (max-width: 943px) {
    .ferramentas {
      max-width: 70%;
      margin: auto;
      padding-top: 32px;
      padding-bottom: 62px;
    }

    .sobre-content {
        flex-direction: column-reverse;
    }

    .sobre-direito > p {
        padding-right: 10px;
    }

    .imagem-grande {
        display: none;
    }

    .perfil-imagem {
        padding-top: 48px;
        padding-bottom: 40px;
    }

    .hero-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    .hero-left > h2 {
        padding: 0;
        
    }

    /* .cta {
        padding: 80px;
        max-width: 70%;
    } */
}