@charset "UTF-8";

@media screen and (max-width: 1470px) {
    .status {
        display: none;
    }

    .habilidade-content {
        margin-left: 50px;
        margin-right: 50px;
    }

    .text-projeto {
        margin-left: 50px;
    }
    .projetos-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .sobre-content {
        margin-left: 50px;
        margin-right: 50px;
    }

    .experiencia-content {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 1320px) {
    
    .navbar {
        justify-content: space-between;
    }
    .content-esquerda {
        margin: 0;
    } 

    .content-direita {
        margin: 0;
    }

    .image-container {
        display: none;
    }

    .habilidades {
        height: 420px;
    }

    .habilidade-content {
        justify-content: center;
    }

    .habilidade-conteudo {
        align-items: center;
    }

    .text > p {
        text-align: center;
    }

    .projetos-recentes {
        padding: 0;
    }

}

@media screen and (max-width: 1255px) {
    .cta {
       max-width: 85%;
    }

    .hero-right {
        text-align: center;
        padding-right: 0px;
    }
}

@media screen and (max-width: 1077px) {
    .sobre-content {
        flex-direction: column-reverse;
    }

    .sobre-direito > p {
        padding-right: 10px;
    }

    .imagem-grande {
        display: none;
    }

    .imagem-pequena{
        display: block;
    }

    .perfil-imagem {
        padding-top: 48px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 960px){
    .ferramentas {
        max-width: 80%;
        margin: auto;
        padding-top: 32px;
        padding-bottom: 62px;
      }
}

@media screen and (max-width: 943px) {
   .profile-info {
    display: none;
   }

  .cta {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }

  .hero-left {
    max-width: 90%;
   }

}

@media screen and (max-width: 915px) {
    h1 {
        font-size: 44px;
    }
}

@media screen and (max-width: 914px) {
    .card-experiencia {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .info-job {
        border-right: none;
        padding-bottom: 20px;
        
    }

    .detalhes {
        margin: 0;
    }

    .detalhes > h3 {
        border-top : 1px solid var(--cor1);
        padding-left: 0;
        padding-top: 10px;
    }

    .detalhes > p {
        padding-left: 0;
    }
}


@media screen and (max-width: 892px) {

    .botaoprincipal{
        width: 70%;
    }

    .navbar {
        align-items: flex-start;
        padding-top: 24px;
    }

    .nav-links {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .bi-list {
        color: var(--cor1);
        font-size: 40px;
        cursor: pointer;
    }

    .bi-list:hover{
        color: var(--cor2);
    }

    .burguer {
        /* display: flex; */
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }

    #btn-menu{
        display: block;
     }

    .nav-buguer {
     display: block;
     list-style: none;
     font-size: 24px;
     color: black;
     font-weight: 600;
     transition: color 0.3s;
    }

    .nav-buguer li {
        padding-bottom: 15px;
    }

    .nav-buguer li a {
        text-decoration: none;
    }

    .nav-buguer li a:hover {
        color: var(--cor2);

}

.bi-x-lg {
    font-size: 30px;
    color: var(--cor2);
    cursor: pointer;
    padding-bottom: 28px;
}

.bi-x-lg:hover {
    color: var(--cor3);
}

.text > h2 {
    text-align: center;
}

.imagem-pequena{
    display: none;
}

.imagem-media {
    display: block;

}

}

@media screen and (max-width: 756px) {
    h1 {
        font-size: 34px;
    }
    
    .projeto-card {
        width: 100%;
    }

    .projetos-container {
        gap: 30px;
    }

    .medprev-grande{
        display: none;
    }

    .medprev-pequena{
        display: block;
    }
    
    .econodata-grande{
        display: none;
    }

    .econodata-pequena{
        display: block;
    }

    .alfakids-grande {
        display: none;
    }

    .alfakids-pequena{
        display: block;
    }
}

@media screen and (max-width: 726px) {

    .heuristica-borda{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    
    .imagem-media{
        display: none;
    }

    .imagem700{
        display: block;
    }

    .responsivo-borda{
        display: none;
    }
}

@media screen and (max-width: 606px) {
    
    .trello {
        display: none;
    }

    .gpt {
        display: none;
    }
}

@media screen and (max-width: 597px) {
    h1 {
        font-size: 32px;
    }

    .greeting{
        font-size: 20px;
    }

    .text > h2 {
        font-size: 30px;
    }

    .text-projeto > h2 {
        font-size: 30px;
    }

    .sobre-direito > h2 {
        font-size: 30px;
    }

    .experiencia-content > h2 {
        font-size: 30px;
    }

    .hero-left > h2 {
        font-size: 32px;
    }

    .cta {
        width: 75%;
    }

    .availability-button > span {
        font-size: 18px;
    }

}

@media screen and (max-width: 559px) {

    .habilidades {
        height: 100%;
    }

    .habilidade-content {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .habilidades01 {
        flex-direction: column;
        align-items: center;
    }

    .habilidades02 {
        flex-direction: column;
        align-items: center;
        padding: 10px 0 0 0;
    }

}


@media screen and (max-width: 500px) {

    .experiencia{
        padding-top: 68px;
    }

    .habilidade-content{
        margin: 0 24px 0 24px;
    }

   .experiencia-content{
    margin: 0 24px 0 24px;
   }

   .sobre-content{
    margin: 0 24px 0 24px;
   }

    .imagem700{
        display: none;
    }

    .imagem360 {
        display: block;
    }

    .text-projeto{
        margin: 0;
    }

    .text-projeto > h2 {
        text-align: center;
    }

    .projetos-container {
        width: 88%;
        margin: 0;
    }

    .projetos-recentes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-vertodos{
        width: 80%;
    }

    .ferramentas{
        max-width: none;
        padding-bottom: 28px;
    }

    .perfil-imagem{
        padding-top: 32px;
    }

    .habilidades02{
        flex-direction: row;
        max-width: 60%;
        justify-content: center;
    }
}

