@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



 :root {
    --cor1: #772583;
    --cor2: #FB6614;
    --cor3: #FA008A;


    --fonte-padrao: "Manrope", sans-serif;

 }

 * {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
   
}



/* Estilo Seção de Navbar */

.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.content-esquerda {
   display: flex;
   max-width: 1400px;
   height: 100%;
   height: 100%;
   margin: 0 auto;
   position: relative;
}

.logo-foto {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.info-logo {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-left: 10px;
}

.nome {
   font-size: 16px;
   font-weight: 600;
   
}

.funcao {
   font-size: 14px;
}

.status {
   display: inline-flex;
   align-items: center;
   margin-left: 34px;
   border: 1px solid #39ff14;
   padding: 7px 10px;
   border-radius: 37px;
   color: black;
   font-size: 12px;

}

.status-circle {
   width: 9px;
   height: 9px;
   background-color: #39ff14;
   border-radius: 50%;
   margin-right: 10px;
}

.content-direita {
   display: flex;
   max-width: 1400px;
   height: 100%;
   height: 100%;
   margin: 0 auto;
   position: relative;
   justify-content: flex-end;
   align-items: center;
}

.nav-links {
   display: flex;
   list-style: none;
   display: flex;
   gap: 32px;
 }

 .nav-links li a {
   text-decoration: none;
   font-size: 18px;
   color: black;
   font-weight: 600;
   transition: color 0.3s;
 }

 .nav-links li a:hover {
   color: var(--cor2);
 }
 
 .btn {
   background-color: var(--cor1);
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 32px;
    padding: 11px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
    margin-left: 32px;

 }

 .btn:hover {
   background-color: var(--cor3)
}



 /* Estilo Seção de Introdução */
.intro {
   text-align: center;
   padding: 40px 20px;
   background-color: #fff;
}

.greeting {
   font-size: 24px;
   color: black;
   margin-bottom: 16px;
   font-family: var(--fonte-padrao);
}

h1 {
   font-size: 54px;
   font-weight: bold;
   line-height: 1.2;
   color: #000;
   margin-bottom: 20px;
   font-family: var(--fonte-padrao);
   font-weight: 900;
}

.highlight {
   color: var(--cor1);
}

.botaoprincipal {
   background-color: var(--cor1);
    color: #fff;
    border: none;
    border-radius: 32px;
    padding: 11px 24px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
    transition: background-color 0.3s ease;
    font-weight: 500;

}

.botaoprincipal:hover {
   background-color: var(--cor3)
}

.ferramentas {
   display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 61px;
}

.ferramentas img {
   width: 60px;
   height: 60px;
   background-color: #333333da;
   border-radius: 18px;
   padding: 16px;
   transition: transform 0.3s ease;
}

.ferramentas img:hover {
   transform: scale(1.1);
}


/* Estilo da seção habilidades*/

.habilidades {
  background-color: #1a1a1a;
  height: 584px;
}

.habilidade-content {
   display: flex;
   max-width: 1400px;
   height: 100%;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;

}

.habilidade-conteudo {
   display: flex;
   flex-direction: column;
}


.text h2 {
   font-size: 38px;
   padding-bottom: 32px;
   color: #fff;
   
}

.text p {
   font-size: 16px;
   padding-bottom: 44px;
   color: white;
}

.image-container {
   display: flex;
}

.habilidades01 {
   display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.habilidades02 {
   display: flex;
    flex-wrap: wrap;
    gap: 10px;
   padding: 16px;
   padding-left: 32px;
   
}

.habilidades1 {
   display: inline-block;
    border: 1px solid;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 14px;
    color: #fff;
}

.ux-borda {
   border-color: var(--cor1)
}

.heuristica-borda {
   border-color: var(--cor2)
}

.usabilidade-borda {
   border-color: var(--cor3)
}

.ui-borda {
   border-color: var(--cor3)
}

.html-borda {
   border-color: var(--cor1);
}

.css-borda {
   border-color: var(--cor2);

}

.responsivo-borda {
   border-color: var(--cor1);
}


/* Estilo da seção de projetos */

.projetos-recentes {
   background-color: #1a1a1a;
   padding: 50px 0;
   color: #ffffff;
}

.text-projeto > h2 {
   font-size: 38px;
   padding-bottom: 39px;
   max-width: 1400px;
   height: 100%;
   margin: 0 auto;

}

.projetos-container {
   display: flex;
   max-width: 1400px;
   height: 100%;
   margin: 0 auto;
   justify-content: space-between;
   color: #ffffff;
}

.projeto-card {
   background-color: #222;
   border-radius: 15px;
   overflow: hidden;
   width: 377px;
   text-align: left;
   position: relative;
}

.projeto-card img {
   width: 100%;
   
}

.projeto-info {
   padding: 20px;
}

.projeto-info h3 {
   font-size: 24px;
}

.projeto-info p {
   margin: 10px 0;
   font-size: 16px;
   color: white;
}

.medprev {
    background-color: var(--cor1);
}

.econodata {
   background-color: var(--cor2);
}

.alfakids {
   background-color: var(--cor3);
}


.botao-seta {
   display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 31px;
    border: 1px solid;
    border-radius: 32px;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
 

.roxo {
   border-color: white;
   color: white;
}

.laranja {
   border-color: white;
   color: white;
}

.rosa {
   border-color: white;
   color: white;
}

.roxo:hover {
   background-color: white;
   color: var(--cor1);
}

.laranja:hover {
   background-color: white;
   color: var(--cor2);
}

.rosa:hover {
   background-color: white;
   color: var(--cor3);
}

.btn-vertodos {
   display: flex;
   justify-content: center;
   padding-top: 48px;
}

/* Estilo da seção "Sobre mim" */

.sobre {
    background-color: #1a1a1a;
    color: #fff;
}

.sobre-content {
   display: flex;
   max-width: 1400px;
   height: 100%;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
}

.sobre-content h2 {
   font-size: 38px;
   padding-bottom: 32px;
}

.sobre-content p {
   font-size: 16px;
}

.social-links p {
   font-size: 18px;
   font-weight: 600;
   padding-top: 72px;
   padding-bottom: 16px;
}

.social-links a {
   color: var(--cor2);
   margin-right: 15px;
   text-decoration: none;
   transition: color 0.3s;
   font-size: 24px;
   font-weight: 600;
}

.social-links a:hover {
   color: var(--cor3);
}


/* Estilo da seção "experiencia" */

.experiencia {
   background-color: #1a1a1a;
  color: #fff;
  padding: 50px;
  text-align: left;
}

.experiencia-content {
   max-width: 1400px;
   height: 100%;
   margin: 0 auto;
}

.experiencia h2 {
   font-size: 38px;
   padding-bottom: 32px;
}

.card-experiencia {
   display: flex;
   justify-content: space-between;
   background-color: #2e2e2e69;
  border: 1px solid var(--cor1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.info-job {
   flex: 1;
    max-width: 200px;
    font-size: 14px;
    color: #ffffff;
   
}

.detalhes {
   flex: 3;
   margin-left: 20px;
}

.detalhes h3 {
   font-size: 24px;
   padding-left: 10px;
   padding-bottom: 16px;
}

.detalhes p {
   font-size: 16px;
   padding-left: 10px;
   padding-right: 48px;


}
.bi-briefcase-fill {
   color: var(--cor1);
   font-size: 19px;
}

.bi-calendar-fill {
   color: var(--cor1);
   font-size: 19px;
}

.info-detalhe {
   padding-left: 10px;
}

.saibamais {
   padding-top: 32px;
   text-align: center;
}

/* Estilo da seção "CTA" */

.cta{
   max-width: 1400px;
   height: 100%;
   margin: 0 auto;
   width: 1105px;
   height: 417px;
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #1a1a1a;
    border-radius: 10px;
    color: #fff;
    margin-top: 64px;
    margin-bottom: 64px;
   
   
}

.hero-left {
   max-width: 60%;
}

.profile-info {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.profile-pic {
   padding-right: 10px;
}

.profile-info p {
   font-size: 16px;

}


.profile-info span {
   font-size: 14px;
}

.cta h2 {
   font-size: 48px;
   padding-top: 57px;
}

h2 .highlight1 {
   color: var(--cor3);
}

h2 .highlight2 {
   color: var(--cor2);
}

.cv-button {
   display: inline-flex;
   align-items: center;
   background-color: var(--cor3);
   color: #fff;
   padding: 10px 48px;
   border-radius: 30px;
   border: none;
   cursor: pointer;
   font-size: 18px;
   margin-top: 40px;
   transition: background-color 0.3s;
}


.bi-download {
padding-left: 10px;
color: white;
} 

.cv-button:hover {
   background-color: var(--cor1);
}

.hero-right {
   text-align: center;
   padding-right: 30px;
}

.hero-right p {
   font-size: 16px;
   padding-bottom: 20px;
}

.availability-button {
   display: inline-flex;
   align-items: center;
   border: 1px solid #39ff14;
   padding: 12px 27px;
   border-radius: 37px;
   color: #ffffff;
   font-size: 27px;
}

.availability-circle {
   width: 32px;
   height: 32px;
   background-color: #39ff14;
   border-radius: 50%;
   margin-right: 22px;
   animation: blink 1s infinite;
}

@keyframes blink {
   0%, 100% {
       opacity: 1;
       transform: scale(1);  
   }
   50% {
       opacity: 0.2;  
       transform: scale(1.2); 
   }
}

footer {
   background-color: #1a1a1a;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}